* {
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  background-color: black;
  display: flex;
  height: 100%;
}

div#brand-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  border-radius: 15px;

  background: radial-gradient(
    circle at center,
    black 40%,
    rgb(110, 57, 154) 70%,
    black 95%
  );
}

div#glass {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

div#form-section {
  border: solid red 2px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.content {
  /*border: 2px solid red;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

form {
  border: solid green 2px;
  display: flex;
  flex-direction: column;
}
